.App {
  text-align: center;
}




.Todo-App {
  padding-top:1px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}
li span.delete-item {
  visibility: hidden;
}

span.delete-item a {
  text-decoration: none;
  color:green;
}

li:hover span.delete-item {
  visibility: visible;
}


